<!-- Alhanouf -->

<!-- Alhanouf -->

<!DOCTYPE html>
<html>
  <head>
    <title>WebArticals Blog</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">
    
    <!-- stylesheet-->
    <link rel="stylesheet" href="/stylesheet/landing.css">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    
  </head>
  
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/blogs">WebArticles</a>
        </div>
        
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <div class="collapse navbar-collapse justify-content-right" id="navbarToggler1">
        
        <form class="form-inline" action="/blogs/search/name" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Article Name">
                        <div class="input-group-apend">
                            <button style="border-left-width: 0;border-top-left-radius: 0;border-bottom-left-radius: 0;" type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </div>
        </form>
        
        
        

        

          <ul class="navbar-nav ml-auto">
            <% 
            if(!currentUser) 
            { %>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
            <% } 
            else 
            {
            if(currentUser.isAdmin===0) 
            {
            %>
            <li class="nav-item"><a class="nav-link disabled" href="/#"> Welcome, <i><%= currentUser.username %></i>.</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"> User Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% 
            } 
            if(currentUser.isAdmin===1) 
            {
            %>
            <li class="nav-item"><a class="nav-link disabled" href="/#"> Welcome, <i><%= currentUser.username %></i>.</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"> Admin Homepage</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% 
            } 
            }
            %>
            <li>
              <!-- include the Glitch button to show what the webpage is about and to make it easier for folks to view source and remix -->
<!--               <div class="glitchButton" style="position:fixed"></div>
              <script src="https://button.glitch.me/button.js"></script> -->
            </li>
          </ul>
        </div>
        
        
        
        
        
        
        
        
        
      </div>
    </nav>

    
    <br>
    <br>
    <br>
    
    
    <div class="container">
      <% if(error && error.length > 0) { %>
      <div class="alert alert-danger">
        <p><%= error %></p>
      </div>
      <% } %>
      
      <% if(success && success.length > 0) { %>
      <div class="alert alert-success">
        <p><%= success %></p>
      </div>
      <% } %>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h3>FREE ARTICLES</h3>

          <h2>
            <a href="/blogs" class="btn btn-dark">Explore the articles</a>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!--  <script src="scripts/image.js"></script> -->

  <% include ./share/footer %>
</html>
